<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Properties Example</title>
</head>
<body>
    <div class="container">
        <h2>Position</h2>
        <div class="box static">Static</div>
        <div class="box relative">Relative</div>
        <div class="box absolute">Absolute</div>
        <div class="box fixed container">Chat with Us!!</div>
        <div class="box sticky" >Stickey</div>
        <h2>Z-index</h2>
        <div class="box1">1</div>
        <div class="box2">2</div>
        <p class="whitespace">
            Many novice writers tend to make a sharp 
            distinction between    content and style, 
            thinking that a paper             
                         can be strong in one 
                         and weak in the   other, 
            but focusing on organization           shows how content and style converge 
            in deliberative academic writing. 
            Your professors will view even the most elegant 
            prose as rambling and tedious.
        </p>    
       

    </div>
</body>
</html>
