* {
    box-sizing: border-box;
}
.container {
    width: 700px;
    background-color: rgb(196, 217, 255);
    .heading {
        h1 {
            margin-left: 8%;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            color: white;
            text-align: center;
        }
    }
    .formcontrol {
        margin-left: 8%;
        // text-align: center;
        label {
            margin: 1px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            color: white;
        }
        input[type="text"] {
            width: 40%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        input[type="email"] {
            margin-left: 34px;
            width: 40%;
            padding: 15px;
            // margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        input[type="number"] {
            margin-left: 28px;
            width: 40%;
            padding: 15px;
            margin-top: 25px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        input[type="radio"] {
            margin-left: 18px;
            padding: 15px;
            margin-top: 25px;
            display: inline-block;
        }
        input[type="submit"] {
            margin-left: 18px;
            padding: 15px;
            margin-top: 25px;
            display: inline-block;
        }
        .btn {
            background-color: #3789e7;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100px;
            opacity: 0.9;
            text-align: center;
        }
        .hobbies {
            margin-top: 25px;
            background-color: #e7be37;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 106px;
            opacity: 0.9;
            text-align: center;
        }
    }
}
span {
    margin-left: 4px;
    color: red;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.display {
    margin-left: 28px;
    width: 90%;
    padding: 15px;
    margin-top: 25px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
