<!-- <h1>content Projection</h1>
<hr> -->
<!-- <div>{{userData}}</div> -->

<!-- <ng-content></ng-content>

<ng-content select = "[demo]"></ng-content>

<div *ngIf="adminTemplate">
    <template [ngTemplateOutlet]="adminTemplate">
    </template>
</div>

<hr>
<h1>
    Buit- In - Pipes
</h1>
<hr> -->
<!-- <h3> uppercase: {{person.name | uppercase}}</h3> -->
<!-- <h3>lowercase: {{person.email | lowercase}}</h3> -->
<!-- <h3>{{person.dob | dateAgo}}</h3> -->
<!-- <h3>{{person | json}}</h3> -->
<!-- <h3>{{person.money |  currency:'INR':'symbol' }}</h3>    -->

<h1>Custom Pipe Example</h1> 
<hr>
<h5 class="mx-3">Age of {{person.name}} is {{person.date | age}} year</h5>
<!-- <h1 *ngIf="person.length >1 ; else elseblock">
{{person | json}}
</h1>

<ng-template #elseblock>
    elseblock
</ng-template> -->