<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transform Example</title>
</head>
<body>
    <h2>Transform Examples</h2>
    <div class="container">
        <div class="box box-rotate">Roate by -40 degree</div>
        <div class="box box-zoom-in">Zoom In with scale 1.25</div>
        <div class="box box-zoom-X">Zoom In X</div>
        <div class="box box-zoom-Y">Zoom In Y</div>
        <div class="box box-rotate-x"> roate with X direction</div>
        <div class="box skew">Skew 20 degree in both direction</div>
        <div class="box skewX">Skew 20 degree in X</div>
        <div class="box skewY">Skew 20 degree in Y</div>
        <div class="box translateX">Move 20px in x direction</div>
        <div class="box translateY">Move 20px in y direction</div>
        <div class="box translate">Move 20px in both direction</div>
        <div class="box translate3D">Translate3D is same as translation in both direction</div>
        <div class="box combine-transform"> Roate and scale</div>
    </div>
</body>
</html>