@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@font-face {
    font-family: "Mea Culpa";
    src: url(/MeaCulpa-Regular.ttf) format("woff2");
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    border: 2px solid black;
}
.navbar {
    position: relative;
}
.nav-item {
    &:first-child {
        background-color: rgb(255, 177, 100);
    }
    &:last-child {
        background-color: lightcyan;
    }
}
.nav-item {
    &:hover {
        text-decoration: underline solid 2px;
    }
    .nav-link {
        &:link {
            color: #ff0000f1;
        }
        &:visited {
            color: #5967e2;
        }
        &:active {
            color: rgb(18, 238, 18);
        }
    }
}
form {
    input {
        &:focus {
            background-color: rgb(236, 236, 186);
            outline: none;
        }
        &:valid {
            border: 2px solid #71d300;
        }
        &:invalid {
            background-color: rgb(241, 183, 183);
        }
        &:checked {
            width: 20px;
            height: 20px;
        }
    }
}
.language {
    margin: 3%;
    div {
        &:lang(en) {
            background-color: lightgoldenrodyellow;
        }
        &:lang(fr) {
            background-color: lightgray;
        }
        &:lang(gr) {
            background-color: lightsteelblue;
        }
    }
}
.elements {
    p {
        &::first-line {
            font-weight: bold;
            font-size: 1.2em;
        }
        &::first-letter {
            font-weight: bold;
            font-size: 1.6em;
        }
        &::selection {
            background-color: rgb(38, 160, 236);
            color: white;
        }
        &::after {
            content: "....";
        }
        &::before {
            content: "Read this -";
            background-color: yellow;
            color: red;
            font-weight: bold;
        }
        &::spelling-error {
            text-decoration: wavy red;
        }
    }
}
.form-group {
    ul {
        li {
            &:nth-child(2) {
                background-color: #71d300;
                font-weight: bold;
            }
            &:nth-child(odd) {
                color: brown;
            }
            &:nth-child(even) {
                color: rgb(85, 42, 165);
            }
        }
    }
    p {
        &:nth-child(3n + 1) {
            color: cornflowerblue;
        }
    }
}
.items {
    margin-left: 3%;
    li {
        &:nth-last-child(2) {
            background-color: blueviolet;
        }
    }
}
section {
    h4 {
        &:first-of-type {
            background-color: seagreen;
        }
    }
    p {
        &:first-of-type {
            background-color: red;
        }
        &:nth-of-type(2) {
            font-weight: bold;
        }
        &:nth-last-of-type(3) {
            color: saddlebrown;
        }
    }
}
.nthchild {
    li {
        &:nth-child(3n)//odd, even, n
        {
            color: skyblue;
        }
    }
}
.nthlastchild {
    li {
        &:nth-last-child(2)//odd, even, n
        {
            color: rgb(241, 229, 47);
        }
    }
}
.firstoftype {
    p {
        &:first-of-type {
            font-size: x-large;
        }
    }
}
.lastoftype {
    p {
        &:last-of-type {
            color: rgb(19, 0, 128);
            font-weight: bold;
        }
    }
}
.nthoftype {
    p {
        &:nth-of-type(odd) {
            text-decoration: underline solid blue;
        }
    }
}
.nthlastoftype {
    p {
        &:nth-last-of-type(5) {
            background-color: darkorange;
        }
    }
}
.nested {
    div {
        :first-child {
            background-color: darkorchid;
        }
    }
}
// div{
//     &:first-of-type{
//         background-color: red;
//     }
// }
#para1 {
    color: red;
}
* {
    font-family: monospace;
}
h3 {
    background-color: thistle;
    color: brown;
    font-family: "Staatliches", cursive;
}
h1 {
    background-color: thistle;
    color: brown;
    font-family: "Dancing Script", cursive;
}
.childselector {
    & > span {
        background-color: cornflowerblue;
    }
}
.siblingselector {
    & + p {
        font-weight: bold;
        color: darkblue;
    }
}
.generalselector {
    & ~ p {
        background-color: yellow;
    }
}
.attribute {
    input[type] {
        border: 4px solid greenyellow;
    }
}
.attributeval {
    input[type="text"] {
        border: 4px solid red;
    }
}
.attributewithtick {
    p[class^="par"] {
        background-color: khaki;
    }
}
.attributewithpipe {
    p[class|="para"] {
        font-weight: bold;
        color: mediumaquamarine;
    }
}
.attributewithdoller {
    a[href$=".jpg"] {
        background-color: black;
    }
}
.attributewithall {
    p[class*="ra-"] {
        font-weight: bold;
        color: rgb(195, 205, 102);
    }
}
.attributewithtield {
    img[title~="flower"] {
        border: 2px solid blue;
        margin: 4px;
    }
}
[class] {
    background-color: whitesmoke;
}
.testfont {
    font-family: "Mea Culpa";
}
$brand-color: #4947b9;
.container {
    width: 100%;
    height: 250px;
    //border: 2px solid black;
    margin: 0%;
    .box {
        width: 200px;
        height: 200px;
        border: 2px solid black;
       // display: flex;
        margin: 1%;
        animation: slide;
        animation-duration: 1.5s;
        animation-iteration-count: 10;
        animation-timing-function: ease-in-out;
        //animation-direction: reverse;
    }
}
@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(200%);
        background-color: $brand-color;
    }
}
