.tabDetail {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  &.active {
    display: flex;
  }
  .all-projects {
    display: flex;
    flex-wrap: wrap;

    .block {
      width: calc(32.22% - 27px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-right: 40px;
      margin-bottom: 40px;
      border-radius: 10px;
      box-shadow: 0 2px 15px 0 rgb(37 42 55 / 8%);
      position: relative;
      padding-bottom: 120px;
      overflow: hidden;
      color: #fff;
      min-height: 310px;
      cursor: pointer;

      &:hover {
        .image {
          transform: scale(1.15);
        }
        .detail {
          opacity: 1;
        }
        .bottom {
          &::after {
            transform: translateY(-90px) skew(0, -7deg);
          }
        }
        .image {
          &::after {
            background: #000000b0;
          }
        }
      }
      .image {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;

        img {
          width: 100%;
          height: 100%;
          max-width: initial;
          object-fit: cover;
          position: relative;
          z-index: 0;
        }
        &::after {
          content: "";
          height: 100%;
          width: 100%;
          background: none;
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s ease;
        }
        &:hover {
          &::after {
            background: #000000b0;
          }
        }
      }
      .detail {
        opacity: 0;
        transition: all 0.5s ease;
        p {
          width: 100%;
          text-align: center;
          color: #fff;
        }
      }
      .bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin: 0px;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        cursor: pointer;
        &::before {
          content: "";
          transform: translateY(-90px) skew(0, -7deg);
          background: #00000050;
          height: 100%;
          height: 154px;
          width: 100%;
          position: absolute;
          bottom: -154px;
          left: 0;
        }
        &::after {
          content: "";
          background-color: #070b5f;
          bottom: -150px;
          height: 154px;
          left: 0;
          position: absolute;
          transform: translateY(0) skew(0, 0);
          transition: transform 0.2s ease-out;
          width: 100%;
        }
      }
      span {
        display: block;
        margin-right: 20px;
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 18px;
        transition: all 0.5s;
        opacity: 1;
      }
      .icon {
        height: 41px;
        width: 41px;
        position: relative;
        z-index: 1;
        transition: all 0.5s;
        transform: rotate(45deg);
        svg {
          height: 41px;
          width: 41px;
          transition: transform 0.2s ease-out;
          g {
            stroke: #fff;
          }
        }
      }
    }
  }
}
