<!-- <app-sign-up></app-sign-up>  -->
<!-- <app-marksheet> {{data}}
</app-marksheet> -->
<app-content-projection>
     {{data}}
    <h1>This content is from content projection</h1>
    <h3 demo > This is multi slot projection</h3>
    <ng-template #admin>
        This is for admin 
    </ng-template>
</app-content-projection> 

<!-- <app-reactive-form></app-reactive-form>
<app-templatedriven-from></app-templatedriven-from>
<app-login></app-login>
<h1 [ngClass]="'one'">Angular Learning</h1>
<h1 [ngClass]="['one','two']">NgClass Examples</h1>
<h1 [ngClass]="{'one': 'true','two':'false','three':'true'}">This is 3rd Example </h1>
-->
<!--
<table border="1">
  <tr align="center">
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
  </tr>
  <tr *ngFor="let user of UserDetails">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone }}</td>
  </tr>
</table>

<h3 *ngFor="let user of UserDetails">Detail is: {{ user.name }}</h3>
<h2 *ngFor="let item of users; index as i">user: {{ i }} {{ item }}</h2>
-->
<!--
<h1 *ngIf="false">
    nfIF Basic Example
</h1>

<h1 *ngIf="display">
    nfIf with variable Example
</h1>

<h1 *ngIf="display; else elseblock">
    if block
</h1>
<ng-template #elseblock>
    <h1>
        else block
    </h1>
</ng-template>

<h1 *ngIf="display; then thenBlock ; else else1Block"></h1>
<ng-template #thenBlock>
    <h1>
        Then block
    </h1>
</ng-template>
<ng-template #else1Block>
    <h1>
        Else1 block
    </h1>
</ng-template>
-->
<!-- 
<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'" ngClass="one"> You picked red color</div>
    <div *ngSwitchCase="'blue'" ngClass="two"> You picked blue color</div>
    <div *ngSwitchDefault>Pick again</div>
</div>
-->
